body {
  background-color: lightblue;
}
h1 {
  color: maroon;
  text-align: center;
}
h3 {
  margin-left: 300px;
  margin-top: 80px;
}
input {
  margin-left: 300px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
